BeetleX.ConcurrentTest/.vs/BeetleX.ConcurrentTest/v15/
BeetleX.ConcurrentTest/Properties/
BeetleX.ConcurrentTest/bin/
BeetleX.ConcurrentTest/obj/
samples/TestClient/bin/
samples/TestClient/obj/
samples/TestServer/Properties/
samples/TestServer/bin/
samples/TestServer/obj/
